.testimonials-grid {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    width: 98%;
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 1%; /* Spacing between the cards */
    
    /* background-color: white;
    color: black; */
    /* width: 100%; */
}

.card {
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    
}

.card img {
    /* width: 100%;
    height: 90%; */
    /* height: auto; */ 
    margin-bottom: 15px;
    /* margin-left: 20%; */
}

.card .bio {
    font-style: italic;
    margin-bottom: 10px;
    color: white;
}

.card .testimonial {
    font-size: 14pt;
    color: white;
}
